$project-width: 400px;
$project-height: 450px;
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
#nav-bar{
    position: fixed;
    background: orange;
    z-index: 2;
    font-size: 1.7rem;
    width: 100%;
    margin: 0;
    ul{
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        li.right{
            float: right;
            width: 100px;
            height: 40px;
            margin: 0;
            padding: 8px 6px;
            text-align: center;
        }
        li.left{
            float: left;
            margin-left: 30px;
            padding: 8px 6px;
        }
        a{
            text-decoration: none;
            &:link,&:visited,&:active{
                color: #ffffff;
            }
            &:hover{
                color: #92908d;
            }
        }
    }
}
#welcome{
    height: 100vh;
    background-image: url("https://www.upsieutoc.com/images/2019/11/04/newimg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    #welcome-text{
        font-size: 2rem;
        text-align: center;
        padding-top: 200px;
        color: rgb(255, 255, 255);

    }
    #name{
        margin:0;
    }
    #favorite{
        margin-top: 20px;
    }
}
#all-projects{
    padding: 20px 0 30px 0;
    width: 100%;
    background: #ffca7b;
    font-size: 1.6rem;
    #project-itd{
        text-align: center;
    }
    #project-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        a{
            &:link,&:visited,&:active{
                color: #ffca7b;
            }
            &:hover{
                color: #b39d7e;
            }
        }
    }
    .projects{  
        width: $project-width;
        height: $project-height;
        position: relative;
        transition-duration: .3s;;
        &:hover{
            transform: scale(1.1,1.1);
        }
        img{
            width: 100%;
            height: $project-height*0.8;
            display: block;
        }
        .project-name{
            position: absolute;
            text-align: center;
            width: 100%;
            height: $project-height/9;
            background: #81807d;
            margin-top:0;
            padding-top: 13px;
            font-size: 1.4rem;
        }
    }
}
#work{
    top: 345vh;
    font-size: 1.9rem;
    margin: 20px auto;
    text-align: center;
    width: 100%;
    a{
        &:link,&:active,&:visited{
            color: black;
        }
    }
    .social-network{
        display: inline-block;
        margin: 20px;
        transition-duration: .2s;
        &:hover{
            transform: scale(1.1,1.1);
        }
    }
}
#footer{
    font-size: 1.4rem;
    background: #ffca7b;
    width: 100%;
    left: 0;
    .contact{
        padding-left: 30px;
        line-height: 5vh;
    }
}
#button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: orange;
    font-size: 3rem;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    &:hover{
        background: rgb(255, 255, 255);
        border: 1px solid orange;
        text-align: center;
    }
    a{
        position: relative;
        &:link,&:active,&:visited{
            color: rgb(255, 255, 255);
        }
        &:hover{
            color: orange;
        }
    }
}
a{
    text-decoration: none;
}

@media only screen and (max-width: 1100px) {
    #welcome{
        height: 70vh;
        #welcome-text{
            font-size: 1.7rem;
        }
    }
    #nav-bar{
        font-size: 1.4rem;
        ul{
            li.left{
                margin-left: 0;
            }
        }
    }

    #all-projects{
        padding-bottom: 0;
        font-size: 1.4rem;
        .projects{
            width: $project-width*0.7;
            height: $project-height*0.6;
            margin-bottom: 80px;
            img{
                height: $project-height*0.48;
            }
            .project-name{
                height: $project-height*0.12;
            }
        }
    }
}
@media only screen and (max-width: 770px) {
    #all-projects{
        padding-bottom: 0;
        font-size: 1.3rem;
        .projects{
            width: $project-width*0.7;
            height: $project-height*0.6;
            .project-name{
                height: $project-height*0.1;
            }
        }
    }
}