html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#nav-bar {
  position: fixed;
  background: orange;
  z-index: 2;
  font-size: 1.7rem;
  width: 100%;
  margin: 0;
}

#nav-bar ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

#nav-bar ul li.right {
  float: right;
  width: 100px;
  height: 40px;
  margin: 0;
  padding: 8px 6px;
  text-align: center;
}

#nav-bar ul li.left {
  float: left;
  margin-left: 30px;
  padding: 8px 6px;
}

#nav-bar ul a {
  text-decoration: none;
}

#nav-bar ul a:link, #nav-bar ul a:visited, #nav-bar ul a:active {
  color: #ffffff;
}

#nav-bar ul a:hover {
  color: #92908d;
}

#welcome {
  height: 100vh;
  background-image: url("https://www.upsieutoc.com/images/2019/11/04/newimg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#welcome #welcome-text {
  font-size: 2rem;
  text-align: center;
  padding-top: 200px;
  color: white;
}

#welcome #name {
  margin: 0;
}

#welcome #favorite {
  margin-top: 20px;
}

#all-projects {
  padding: 20px 0 30px 0;
  width: 100%;
  background: #ffca7b;
  font-size: 1.6rem;
}

#all-projects #project-itd {
  text-align: center;
}

#all-projects #project-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#all-projects #project-group a:link, #all-projects #project-group a:visited, #all-projects #project-group a:active {
  color: #ffca7b;
}

#all-projects #project-group a:hover {
  color: #b39d7e;
}

#all-projects .projects {
  width: 400px;
  height: 450px;
  position: relative;
  transition-duration: .3s;
}

#all-projects .projects:hover {
  transform: scale(1.1, 1.1);
}

#all-projects .projects img {
  width: 100%;
  height: 360px;
  display: block;
}

#all-projects .projects .project-name {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  background: #81807d;
  margin-top: 0;
  padding-top: 13px;
  font-size: 1.4rem;
}

#work {
  top: 345vh;
  font-size: 1.9rem;
  margin: 20px auto;
  text-align: center;
  width: 100%;
}

#work a:link, #work a:active, #work a:visited {
  color: black;
}

#work .social-network {
  display: inline-block;
  margin: 20px;
  transition-duration: .2s;
}

#work .social-network:hover {
  transform: scale(1.1, 1.1);
}

#footer {
  font-size: 1.4rem;
  background: #ffca7b;
  width: 100%;
  left: 0;
}

#footer .contact {
  padding-left: 30px;
  line-height: 5vh;
}

#button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: orange;
  font-size: 3rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
}

#button:hover {
  background: white;
  border: 1px solid orange;
  text-align: center;
}

#button a {
  position: relative;
}

#button a:link, #button a:active, #button a:visited {
  color: white;
}

#button a:hover {
  color: orange;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1100px) {
  #welcome {
    height: 70vh;
  }
  #welcome #welcome-text {
    font-size: 1.7rem;
  }
  #nav-bar {
    font-size: 1.4rem;
  }
  #nav-bar ul li.left {
    margin-left: 0;
  }
  #all-projects {
    padding-bottom: 0;
    font-size: 1.4rem;
  }
  #all-projects .projects {
    width: 280px;
    height: 270px;
    margin-bottom: 80px;
  }
  #all-projects .projects img {
    height: 216px;
  }
  #all-projects .projects .project-name {
    height: 54px;
  }
}

@media only screen and (max-width: 770px) {
  #all-projects {
    padding-bottom: 0;
    font-size: 1.3rem;
  }
  #all-projects .projects {
    width: 280px;
    height: 270px;
  }
  #all-projects .projects .project-name {
    height: 45px;
  }
}
/*# sourceMappingURL=style.css.map */